@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;

}

.user-screen::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: #f5f5f5;
}

.user-screen::-webkit-scrollbar-thumb {
  background-color: #2396F3;
  border-radius: 10px;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

button:focus {
  outline: none;
}

.profile-nav {
  background-color: #2396f3;
  color: white;
}

.profile-nav::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -8px;
  width: 4px;
  height: 24px;
  background: #2396f3;
  z-index: 1;
  border-radius: 6px;
}
/* @media (min-width: 1404px) {
  .apexcharts-legend {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-self: center !important;
    column-gap: 4vw;
  }
} */
/* input[type="text"]:focus{
  border-color: #fafafa;
  outline: #fafafa;
  box-shadow: 0 0 0 1px #fafafa ;
} */
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,

.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}



textarea {
  border-width: 1px;
  border-color:#fafafa ;
}
textarea:focus{
  border-width: 1px;
  border-color: white !important;
  outline: white;
  box-shadow: 0 0 0 3px white !important;
}
