@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

button:focus {
  outline: none;
}

.profile-nav {
  background-color: #2396f3;
  color: white;
}

.profile-nav::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -8px;
  width: 4px;
  height: 24px;
  background: #2396f3;
  z-index: 1;
  border-radius: 6px;
}
@media (min-width: 1404px) {
  .apexcharts-legend {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-self: center !important;
    column-gap: 4vw;
  }
}